<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Atlas Forms - Import</title>
    <!-- Include the latest Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Include the latest Realm Web SDK from CDN-->
    <script src="https://unpkg.com/realm-web/dist/bundle.iife.js"></script>
    <!-- Using vue.js in as lightweight way as possible-->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Installation specific parameters-->
    <script src="/appConfig.js"></script>
    <!-- code for our login page -->
    <script src="./import.js"></script>
</head>

<body onLoad="importOnLoad()">
    <div id="importapp">
        <div class="importlayout">
            <form class="form-horizontal h-50 w-50 m-auto border" title="Import Data Form">
                <div class="form-group m-2">
                    <label for="namespace" class="control-label col-sm-6 h4">Namespace (db.collection):</label>
                    <div class="col-sm-10" title="Namespace Entry">
                        <input type="text" class="form-control" id="namespace"
                            placeholder="Enter Namespace eg. sample_airbnb.listingsAndReviews" v-model="namespace"
                            tabindex="0" required>
                    </div>
                </div>
                <div class="form-group m-2">
                    <label for="importdoctypename" class="control-label col-sm-6 h4">Name:</label>
                    <div class="col-sm-10" title="Name Entry">
                        <input type="text" class="form-control" id="importdoctypename"
                            placeholder="Enter Name eg. Holiday Accomodations..." v-model="importdoctypename" required>
                    </div>
                </div>
                <div class="form-group m-2">
                    <label for="importurl" class="control-label col-sm-6 h4">URL of JSON file for import:</label>
                    <div class="col-sm-10" title="Import URL Entry">
                        <input type="url" class="form-control" id="importurl" placeholder="Enter URL..."
                            v-model="importurl" required>
                    </div>
                </div>
                <div class="form-group m-2">
                    <label for="listviewfields" class="control-label col-sm-6 h4">Fields to display in list view (comma
                        separated):</label>
                    <div class="col-sm-10" title="Listview Fields Entry">
                        <input type="text" class="form-control" id="listviewfields"
                            placeholder="Enter Listview fields..." v-model="listviewfields" required>
                    </div>
                </div>
                <div class="form-group text-center" v-show="!isBusy">
                    <div class="col-sm-offset-2 col-sm-10"
                        title="Import From URL Button">
                        <input  v-show="!isBusy" type="button" class="btn btn-primary m-2" id="importbut" value="Import"
                        @click="importDocType(namespace,importdoctypename,importurl,listviewfields)"/>                     
                    </div>
                </div>
                <div class="form-group text-center" v-show="isBusy">
                    <div class="col-sm-offset-2 col-sm-10"
                        title="Import loading">
                        <div class="spinner-border " role="status"></div>                 
                    </div>
                </div>
                <div class="form-group">
                    <input v-show="!isBusy" type="button" class="btn btn-warning m-2" @click="navToForm()" value="Return to Form" />
                </div>         
            </form>
            <div class="text-center text-danger h5">
                {{message}}
            </div>
        </div>
    </div>
</body>

</html>