<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title> Atlas Forms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include the latest Realm Web SDK from CDN-->
    <script src="https://unpkg.com/realm-web/dist/bundle.iife.js"></script>
    <!-- Using vue.js in as lightweight way as possible-->
    <script src="https://unpkg.com/vue@3"></script>
    <!--  Style sheet  -->
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="./import_layout.css">
    <!-- Installation specific parameters-->
    <script src="/appConfig.js"></script>
    <!-- code for our import page -->
    <script src="./import.js"></script>
</head>


<body onLoad="importOnLoad()">
    <div id="importapp">
        <div class="importlayout">
            <label for="namespace" class="formlabel namespacelab">Namespace (db.collection):</label>
            <input type="text" class="formwriteable namespacetxt"
                placeholder="Enter Namespace eg. sample_airbnb.listingsAndReviews" v-model="text" name="namespace"
                required><br />

            <label for="importdoctypename" class="formlabel namelab">Name:</label>
            <input type="text" class="formwriteable nametxt" placeholder="Enter Name eg. Holiday Accomodations..."
                v-model="text" name="importdoctypename" required><br />

            <label for="importurl" class="formlabel importurllab">URL of file for import:</label>
            <input type="url" class="formwriteable importurltxt" placeholder="Enter URL..." v-model="text"
                name="importurl" required><br />

            <label for="listviewfields" class="formlabel listviewfieldslab">Fields to display in list view (comma
                separated):</label>
            <input type="text" class="formwriteable listviewfieldstxt" placeholder="Enter Listview fields..."
                v-model="text" name="listviewfields" required></br>

            <div class="importbut">
                <button class="formbutton" @click="importDocType(namespace,importdoctypename,importurl,listviewfields)">Import</button>
            </div>

            <div class="importmsg">
                {{message}}
            </div>
        </div>
    </div>
</body>

</html>