/* Minimalist CSS using only standard CSS not any library like bootstrap,
wanted this to have minimal opinion on using external libraries */

/* Very  global style elements */

body {
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}


/* Login centered on login screen */
.loginbox {
    width: 40%;
    min-width: 400px;  
    padding: 10px;
    border: 1px solid black;
    height: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas:
        "userlab usertxt"
        "passlab passtxt"
        "loginbut loginbut"
        "loginmsg loginmsg";
}

.userlab { grid-area: userlab}
.usertxt { grid-area: usertxt}
.passlab { grid-area: passlab}
.passtxt { grid-area: passtxt}
.loginbut { grid-area: loginbut}
.loginmsg { grid-area: loginmsg;
            color: red;
            padding: 20px;
            text-align: center;
        }

/* All labels on forms includign login */
.formlabel {
    padding: 10px;
}

.formbutton {
    padding: 10px;
    margin-top: 10px;
    min-width: 80px;
    display: block;
    margin-left:  auto;
    margin-right: auto;
}
/*All data entry on forms including login etc. */
.formwriteable {
    border: 1px solid black;
    background-color: white;
}