/* Minimalist CSS using only standard CSS not any library like bootstrap,
wanted this to have minimal opinion on using external libraries */

/* Very  global style elements like default font and colours */

/* Defining a set of variables to make tweaking simple */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --darkest-color: black;
    --lightest-color: white;
    --disabled-control-background: aliceblue;
    --form-element-divider: aliceblue;
    --light-brand-color: rgb(191, 220, 246);
    --bright-brand-color: rgb(108, 158, 251);
    --bright-brand-contrast: rgb(143, 139, 139);
    font-size: medium;
    border: none;
    border-radius: 0.5em;
    font-weight: 400;
    color: var(--darkest-color);
  
}

input,
select {
    min-height: 2em;
}

button {
    background-color: var(--bright-brand-color);
    color: var(--darkest-color);
}

button:disabled {
    background-color: var(--disabled-control-background);
    color: var(--bright-brand-contrast);
}

body {
    background-color: var(--light-brand-color)
}

html {
    overflow: hidden;
}

.formbutton {
    padding: 0.1em 0.2em 0.1em 0.2em;
    margin-top: 0.5em;
   
    min-width: 8em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  