/* Minimalist CSS using only standard CSS not any library like bootstrap,
wanted this to have minimal opinion on external libraries */

/* Very  global style elements */

body {
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}


/* Login centered on login screen */
.loginbox {
    width: 40vmin;
    min-width: 400px;
    border: 2px red;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* All labels on forms includign login */
.formlabel {
    padding: 10px;
}

/*All data entry on forms including login etc. */
.formwriteable {
    border: 1px;
    background-color: white;
}