.form_container {
    padding: 3px;
   
    overflow-x: hidden;
    overflow-y: scroll;
    /* display: grid; 
     grid-template-columns: repeat(auto-fill, minmax(150px,1fr)); */
}

.dynamicformlabel {

    text-transform: capitalize;
    text-align: left;
    white-space: nowrap;
    float: left;
   /*min-width: 150px;*/
    vertical-align: middle;

}


.dynamicformvalue {
    white-space: pre-wrap;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    resize: both;
    /* Remove line below for labels above boxes*/
    float: left;
    display:block;
    padding: 3px;
    min-width: 150px;
    padding: 3px;
    margin-left: 5px;
    max-height: 100px;
    min-height: 20px;
    overflow: auto;
}

.dynamicformvaluedate {
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
   
    /* Remove line below for labels above boxes*/
    float: left;
    padding: 3px;
    min-width: 150px;
    padding: 3px;
    margin-left: 5px;
    max-height: 100px;
    min-height: 20px;
    overflow: auto;
}

/* This means a manual resize can override the inital max-height*/

.dynamicformvalue[style*="height"] {
    max-height: unset;
}

.dynamicformitem {
    margin: 5px;
    float: left;
}

input[type="datetime-local"] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.nested {
    border: 1px solid black;

}

.newline {
    clear: both;
}

.arrayscroller {
    max-height: 300px;
    resize: vertical;
    overflow: auto;
    padding: 5px;
}

.arrayscroller[style*="height"] {
    max-height: unset;
}

div.listview {
    border: 1 solid black;
    max-height: 300px;

    border-collapse: collapse;
    overflow-y: auto;
    overflow-x: hidden;
}

table.listview {
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid black;
    height: 300px;
    display: flex;

}
th.listview {
    width:0.1%;
}

tr.listview {
    border: 1px solid black;
}

tr.selected {
    background-color: lightgrey;
}

td.listview ,th.listview {
    padding: 0;
    margin: 0px;
    overflow: auto;
      border: 1px solid black;
}



div.listviewheader {
    margin: 0px 0px 0px 0px;
    resize: horizontal;
    overflow: auto;
    word-break: break-all;
    word-wrap: break-word;
    text-transform: capitalize;
}

div.listviewitem {

    overflow: clip;
    word-break: break-all;
    word-wrap: break-word;
    height: 20px;


}