.form_container {
    /* Wraps the whole of the dynamic form */
    padding: 0.5em;
    overflow-x: hidden;
    overflow-y: auto;
}

.dynamicformlabel {
    /* Text label for any box on the form that's a value */

    width: calc(19vw - 2em);
    text-transform: capitalize;
    text-align: left;
    white-space: nowrap;
    float: left;
    vertical-align: middle;
    /*font-size: small;*/
}

.subdocumentlabel {
    /* Text label for any subdocument */
    text-transform: capitalize;
    text-align: left;
    white-space: nowrap;
    float: left;
    min-width: calc(20vw - 2em);
    vertical-align: middle;
   /*font-size: small;*/
    width: calc (20vw - 16px);
}

.dynamicformvalue {
    /*Rendering for text box on the form */
    white-space: pre-wrap;
    resize: both;
    float: left;
    clear: left;
    display: block;
    width: calc(19vw - 1em);
    max-height: 5em; /* The largest it will appear based on content*/
    min-height: 2em;
    background-color: var(--lightest-color) ;
    overflow: auto;
}

/* This means a manual resize can override the inital max-height*/
.dynamicformvalue[style*="height"] {
    max-height: unset;
}

.dynamicformvaluedate {
    /*Rendering for tedatet box on the form */
    min-height: 2em;
    background-color: var(--lightest-color) ;
    clear: left;
    float: left;
    padding-right: 1em;
    max-height: 2em;
    overflow: auto;
    width: calc(19vw - 2.3em);
}


/* Wrapper round a label and value*/

.dynamicformitem {
    margin: 0px;
    padding-right: 1em;
    float: left;
    min-height: 3.2em;
}

/* Differrnt item sizes 1,2 and 5 columns wide*/
.smallitem {
    width: calc(19vw - 1em);
}

.mediumitem {
    width: calc(38vw - 1em);
}

.largeitem {
    width: calc(95vw - 1em);
}

/*
input[type="datetime-local"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1 solid lightgrey;
}*/

/* When an item is in a list - leave space after it for add-remove buttons*/
.inlist {
    width: calc(100% - 3.5em);
}

/* Wraps round a subrecord/sub document */
.nested {
    min-height: 4em;
    border: 1px solid var(--form-element-divider);
    margin-bottom: 1em;
}

/* Each element in an array */

.arrayelement {
    padding: 0.2em;
    margin-bottom: 1em; /* Space between items */
    border-bottom: 1px solid var(--form-element-divider);
    border-radius: 0;
}

.arrayelement:last-child {
    border-bottom: none;
}

/*The (+) (X) buttons on array elements */
.arraybuttons {
    float: right;
    padding-top: 0.1em;
}
/* Added to Arrays and Sub objects to force them to take a new row*/
.newline {
    clear: both;
    width: calc(100vw - (100vw - 100%) - 1em); /*Subteact the scroll bar width*/
}

/* The scrollable div arrays are inside */

.arrayscroller {
    max-height: 10em;
    resize: both;
    overflow: auto;
    padding: 0.5em;
    width: calc(78% - 2em);
  
    border: 1px solid var(--form-element-divider);
    margin-bottom: 1em;
    margin-top: 1em;
}

/* Allow arrays to be resized beyond initial content/size */

.arrayscroller[style*="height"] {
    max-height: unset;
}
