/* Login centered on login screen */
.formsappouterlayout {
    display: grid;

    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas:
        "header header header header"
        "doctypes listview listview listview"
        "doctypes formview formview formview"
        "panel formview formview formview"
        "panel formview formview formview";

    width: 95%;
    padding: 10px;
    border: 1px solid black;
    height: 95%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.header {
    grid-area: header;
    border: 1px solid red;
}

.doctypes {
    grid-area: doctypes;
    border: 1px solid red;
}

.panel {
    grid-area: panel;
    border: 1px solid red;
}

.listview {
    grid-area: listview;
    border: 1px solid red;
}

.formview {
    grid-area: formview;
    border: 1px solid red;
}

.right {
    float: right
}

.left {
    float: left
}