<!DOCTYPE html>
<!-- This is a large file, can't easily break it into sub components as-->
<!-- a consequence of wanting no 'compile' stage for this application -->

<html>

<head>
    <meta charset="utf-8">
    <title> Atlas Forms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include the latest Realm Web SDK from CDN-->
    <script src="https://unpkg.com/realm-web/dist/bundle.iife.js"></script>
    <!-- Using vue.js in as lightweight way as possible-->
    <script src="https://unpkg.com/vue@3"></script>
    <!--  Style sheet  -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="form.css">

    <!-- Installation specific parameters-->
    <script src="/appConfig.js"></script>
    <script src="./string_formating.js"></script>
    <script src="./utility_functions.js"></script>
    <script src="./listview_functions.js"></script>
    <script src="./formsapp.js"></script>
</head>

<body onLoad="formsOnLoad()" style="overflow-y: hidden">
    <div id="formsapp">
        <div class="container-fluid">
            <!-- Navbar Buttons-->
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                        <span class="navbar-brand">Atlas Forms</span>
                        <form class="form-inline my-2 my-lg-0 ">
                            <select class="form-control mr-sm-2" v-show="!currentDocLocked" name="docType"
                                @change="selectDocType" v-model="selectedDocType">
                                <option v-for="docType in docTypes" :value="docType">{{docType.title}}</option>
                            </select>

                            <button type="button" :disabled="!selectedDocType.namespace || currentDoc?.doc?._id != null"
                                v-show="!currentDocLocked" class="btn btn-primary ml-5" @click="newRecord()"> Create
                            </button>
                            <div class="input-group ml-5">
                                <input v-show="!currentDocLocked" class="form-control " v-model="textquery"
                                    type="text" />
                                <div class="input-group-append">
                                    <button type="button"
                                        :disabled="!selectedDocType.namespace || currentDoc?.doc?._id != null"
                                        v-show="!currentDocLocked" class="btn btn-primary" @click="runQuery()"> Search
                                    </button>
                                </div>

                            </div>

                            <button type="button" v-show="!currentDocLocked" :disabled="!selectedDocType.namespace"
                                class="btn btn-primary ml-5" @click="clearForm()"> Clear </button>

                            <button type="button" :disabled="!selectedDocType.namespace || currentDoc?.doc?._id == null"
                                v-show="!currentDocLocked" class="btn btn-primary ml-5" @click="editRecord()"> Edit
                            </button>

                            <button type="button" v-show="currentDocLocked" class="btn btn-primary"
                                @click="commitEdit()"> Save Edits
                            </button>
                            <button type="button" v-show="currentDocLocked" class="btn btn-primary"
                                @click="commitEdit(true)"> Cancel
                                Edits
                            </button>
                            <button type="button" v-show="showImport" class="btn btn-primary"
                                @click="importDoc()">Import</button>



                            <button type="button" v-show="!currentDocLocked" class="btn btn-warning ml-5"
                                @click="logOut()">
                                Logout </button>

                        </form>
                    </nav>

                </div>

            </div>


            <!-- List view fo results-->
            <div class="row ">
                <div class="col af_listview">
                    <!-- This data *is* a table and so HTML Table is fine to use-->
                    <table class="table table-bordered" id="listviewheaderrow">
                        <tr class="table-primary">
                            <th @click="sortListviewColumn(fieldname)" class=""
                                v-for="(fieldname,idx) in listViewFields">
                                <div :id="'lh_'+fieldname" :ref="watchColumnResizing" class="af_listviewheader"
                                    :style="{width: (98/listViewFields.length) +'vw'}">{{formatFieldname(fieldname)}}
                                </div>
                            </th>
                        </tr>
                        <tr :class="(( result == currentDoc && result.doc._id ) ? 'af_highlightitem' : '')"
                            v-for="result in results">
                            <td @click="resultClick(result)" v-for="fieldname in listViewFields">
                                <div>{{ getFieldValue(result,fieldname) }} </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>


            <!-- The code below iterates over the 'Schema' in selectedDocTypeSchema-->
            <!-- There is no recursion support so we explicity support only certain-->
            <!-- levels of depth Top level Arrays and Arrays in top level nesteddocuments -->
            <!-- can contain documents or scalars. Anything beyone that gets rendered as text-->


            <!-- We fetch the value for each named field if we have one otherwise blank -->
            <!-- We keep track of any edits in fieldEdits - this isn't what Vue or any other reactive-->
            <!-- framework expacts by default as there is no model backing each member so we have -->
            <!-- slightly higher code complexity, sorry. -->

            <div class="row bg-light border-top ">
                <div class="col af_formview">
                    <form class="form-inline  align-items-start">
                        <div class="form-group m-2" v-for="(valtype,name) in selectedDocTypeSchema "
                            :set="value=getFieldValue(currentDoc,name)">

                            <!-- Nested Document -->
                            <template v-if="getBsonType(valtype) == 'document'">
                                <div class="d-flex flex-column align-items-start align-top">

                                    <label class=" af_fieldlabel" :for="name">{{formatFieldname(name)}}
                                    </label>

                                    <div class="form-inline border af_subdocument">

                                        <div class="form-group m-2 mt-0" v-for="(innervaltype,innername) in valtype "
                                            :set="value = getFieldValue(currentDoc,`${name}.${innername}`)">

                                            <div class="d-flex flex-column align-items-start align-top">


                                                <label class="af_fieldlabel"
                                                    :for="innername">{{formatFieldname(innername)}}
                                                    <span class="ml-2" @click="followLink(innername)"
                                                        v-if="!editing && getLink(innername)">🔗</span>
                                                </label>

                                                <!-- Is it An Array in a Document? -->
                                                <template v-if="getBsonType(innervaltype) == 'array'">
                                                    <div class='af_arrayscroller border '>
                                                        <div v-for="(arrayElement,arrayidx) in value?.length>0 ? value :
                                                (typeof selectedDocTypeSchema[name][innername][0] == 'string' ? [''] : [{__xyzzy__:1}] )"
                                                            class="m-2">

                                                            <template
                                                                v-if="!(fieldEdits[`${name}.${innername}.${arrayidx}`] == `$$REMOVE`)">
                                                                <!-- Document in an Array in a Document-->
                                                                <template
                                                                    v-if="getBsonType(arrayElement) == 'document'">
                                                                    <div class="border mt-2">
                                                                        <div class="form-group m-2"
                                                                            v-for="(elementvaltype,elementname) in selectedDocTypeSchema[name][innername][0]"
                                                                            :set="elementvalue = getFieldValue({doc:arrayElement},elementname)">
                                                                            <div
                                                                                class="d-flex flex-column align-items-start align-top">

                                                                                <label class="af_fieldlabel"
                                                                                    :for="elementname">{{formatFieldname(elementname)}}
                                                                                    <span class="ml-2"
                                                                                        @click="followLink(elementname)"
                                                                                        v-if="!editing && getLink(elementname)">🔗</span>
                                                                                </label>

                                                                                <!-- Date -->
                                                                                <input v-if="innervaltype == 'date'"
                                                                                    v-on:input="formValueChange"
                                                                                    :id=`${name}.${innername}.${arrayidx}.${elementname}`
                                                                                    :data-bsontype="innervaltype"
                                                                                    class="form-control af_forminput af_inlist"
                                                                                    :disabled="editing == false"
                                                                                    type="datetime-local"
                                                                                    :value="toDateTime(elementvalue)">
                                                                                <!-- Picklist-->
                                                                                <template
                                                                                    v-else-if="selectedDocType?.picklists?.[`${name}.${innername}.${elementname}`]">
                                                                                    <input :disabled="editing == false"
                                                                                        :id=`${name}.${innername}.${arrayidx}.${elementname}`
                                                                                        class="form-control af_forminput af_inlist"
                                                                                        :data-bsontype="innervaltype"
                                                                                        :value="(nv=fieldEdits[`${name}.${innername}.${elementname}`])!=undefined?nv:elementvalue"
                                                                                        type="text"
                                                                                        :list=`${name}.${innername}.${elementname}_picklist`
                                                                                        v-on:input="formValueChange" />
                                                                                    <datalist
                                                                                        :id=`${name}.${innername}.${elementname}_picklist`>
                                                                                        <option
                                                                                            v-for="option in selectedDocType?.picklists?.[`${name}.${innername}.${elementname}`]">
                                                                                            {{option}}
                                                                                        </option>
                                                                                    </datalist>
                                                                                </template>
                                                                                <!-- Text/Number -->
                                                                                <div v-else v-on:input="formValueChange"
                                                                                    :id=`${name}.${innername}.${arrayidx}.${elementname}`
                                                                                    :data-bsontype="innervaltype"
                                                                                    :contenteditable="editing?true:null"
                                                                                    class="form-control af_forminput af_editdiv af_inlist ">
                                                                                    {{elementvalue}} </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </template>
                                                                <template v-else>
                                                                    <!-- Scalar in an array in a document -->
                                                                    <!-- Date -->
                                                                    <input v-if="innervaltype == 'date'"
                                                                        v-on:input="formValueChange"
                                                                        :id=`${name}.${innername}.${arrayidx}`
                                                                        :data-bsontype="innervaltype"
                                                                        class="form-control af_forminput  af_inlist "
                                                                        :disabled="editing == false"
                                                                        type="datetime-local"
                                                                        :value="toDateTime(arrayElement)">
                                                                    <!-- Picklist-->
                                                                    <div
                                                                        v-else-if="selectedDocType?.picklists?.[`${name}.${innername}`]">
                                                                        <input :disabled="editing == false"
                                                                            :id=`${name}.${innername}.${arrayidx}`
                                                                            class="form-control af_forminput  af_inlist"
                                                                            :data-bsontype="innervaltype"
                                                                            :value="(nv=fieldEdits[`${name}.${innername}.${arrayidx}`])!=undefined?nv:arrayElement"
                                                                            type="text"
                                                                            :list=`${name}.${innername}_picklist`
                                                                            v-on:input="formValueChange" />
                                                                        <datalist :id=`${name}.${innername}_picklist`>
                                                                            <option
                                                                                v-for="option in selectedDocType?.picklists?.[`${name}.${innername}`]">
                                                                                {{option}}
                                                                            </option>
                                                                        </datalist>
                                                                    </div>
                                                                    <!-- Text/Number -->
                                                                    <div v-else v-on:input="formValueChange"
                                                                        :id=`${name}.${innername}.${arrayidx}`
                                                                        :data-bsontype="innervaltype"
                                                                        :contenteditable="editing?true:null"
                                                                        class="form-control af_forminput af_editdiv af_inlist">
                                                                        {{arrayElement}} </div>

                                                                </template>

                                                                <div class="af_arraybuttons">
                                                                    <span class="float-right fs-4 fw-bold"
                                                                        v-on:click="addArrayElement(`${name}.${innername}`)"
                                                                        v-if="!value || arrayidx==value?.length -1">&oplus;</span>
                                                                    <span
                                                                        v-on:click="deleteArrayElement(`${name}.${innername}`,arrayidx)"
                                                                        class="float-right fs-4 fw-bold">&otimes;</span>

                                                                </div>
                                                            </template>
                                                        </div>
                                                    </div>
                                                </template> <!-- Arrays -->
                                                <template v-else>
                                                    <!-- A Field inside a Document (subdoc.value)-->
                                                    <!-- Date-->
                                                    <input v-on:input="formValueChange" :id=`${name}.${innername}`
                                                        v-if="innervaltype == 'date'" :data-bsontype="innervaltype"
                                                        class="form-control af_forminput" :disabled="editing == false"
                                                        type="datetime-local" :value="toDateTime(value)">

                                                    <!-- Picklist-->
                                                    <div
                                                        v-else-if="selectedDocType?.picklists?.[`${name}.${innername}`]">
                                                        <!-- Has a picklist-->
                                                        <input :disabled="editing == false" :id=`${name}.${innername}`
                                                            :class="' form-control ' +  classFromType(innervaltype) + ' af_forminput '"
                                                            :data-bsontype="innervaltype"
                                                            :value="(nv=fieldEdits[`${name}.${innername}`])!=undefined?nv:value"
                                                            type="text" :list=`${name}.${innername}_picklist`
                                                            v-on:input="formValueChange" />
                                                        <datalist :id=`${name}.${innername}_picklist`>
                                                            <option
                                                                v-for="option in selectedDocType?.picklists?.[`${name}.${innername}`]">
                                                                {{option}}
                                                            </option>
                                                        </datalist>
                                                    </div>

                                                    <!-- Text/Number -->
                                                    <div v-else v-on:input="formValueChange" :id=`${name}.${innername}`
                                                        :data-bsontype="innervaltype"
                                                        :contenteditable="editing?true:null"
                                                        :class="' form-control ' +  classFromType(innervaltype) + ' af_forminput af_editdiv '">
                                                        {{value}}
                                                    </div>

                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>

                            <!-- Arrays At top Level -->
                            <template v-else-if="getBsonType(valtype) == 'array'">
                                <div class="d-flex flex-column align-items-start align-top">
                                    <label class=" af_fieldlabel" :for="name">{{formatFieldname(name)}} </label>
                                    <div class="af_arrayscroller border ml">
                                        <!-- If the Array is Empty we still need to show at least one member-->
                                        <!-- to allow for searching or adding a first element -->
                                        <!-- BUG? What about an array of non string types-->
                                        <div v-for="(arrayElement,arrayidx) in value?.length>0 ? value :
                                         (typeof selectedDocTypeSchema[name][0] == 'string' ? [''] : [{__xyzzy__:1}] )"
                                            class="m-2">
                                            <!-- With an Array, for each array memeber we repeat the top level code-->
                                            <!-- Not adding code for nested arrays but will support arrays of objects-->

                                            <!-- Hide the Elelement if its been deleted in edits-->
                                            <template v-if="!(fieldEdits[`${name}.${arrayidx}`] == `$$REMOVE`)">
                                                <!-- An Object in Top level Array (array.N.fieldname)-->
                                                <template v-if="getBsonType(arrayElement) == 'document'">
                                                    <div class="af_inlist">
                                                        <form class="form-inline border">
                                                            <div class="form-group m-2 "
                                                                v-for="(innervaltype,innername) in selectedDocTypeSchema[name][0]"
                                                                :set="innervalue = getFieldValue({doc:arrayElement},innername)">
                                                                <div
                                                                    class="d-flex flex-column align-items-start align-top">

                                                                    <label class="af_fieldlabel"
                                                                        :for="name">{{formatFieldname(innername)}}
                                                                        <span class="ml-2"
                                                                            @click="followLink(innername)"
                                                                            v-if="!editing && getLink(innername)">🔗</span>

                                                                    </label>

                                                                    <!-- Date -->
                                                                    <input v-if="innervaltype == 'date'"
                                                                        v-on:input="formValueChange"
                                                                        :id=`${name}.${arrayidx}.${innername}`
                                                                        :data-bsontype="innervaltype"
                                                                        class="form-control af_forminput"
                                                                        :disabled="editing == false"
                                                                        type="datetime-local"
                                                                        :value="toDateTime(innervalue)">


                                                                    <!-- Picklist -->
                                                                    <div
                                                                        v-else-if="selectedDocType?.picklists?.[`${name}.${innername}`]">
                                                                        <!-- Has a picklist-->
                                                                        <input :disabled="editing == false"
                                                                            :id=`${name}.${arrayidx}.${innername}`
                                                                            :class="' form-control ' +  classFromType(innervaltype) + ' af_forminput '"
                                                                            :data-bsontype="innervaltype"
                                                                            :value="(nv=fieldEdits[`${name}.${arrayidx}.${innername}`])!=undefined?nv:innervalue"
                                                                            type="text"
                                                                            :list=`${name}.${innername}_picklist`
                                                                            v-on:input="formValueChange" />
                                                                        <datalist :id=`${name}.${innername}_picklist`>
                                                                            <option
                                                                                v-for="option in selectedDocType?.picklists?.[`${name}.${innername}`]">
                                                                                {{option}}
                                                                            </option>
                                                                        </datalist>
                                                                    </div>

                                                                    <!-- Text / Number -->
                                                                    <div v-else v-on:input="formValueChange"
                                                                        :id=`${name}.${arrayidx}.${innername}`
                                                                        :data-bsontype="innervaltype"
                                                                        :contenteditable="editing?true:null"
                                                                        :class="' form-control ' +  classFromType(innervaltype) + ' af_forminput af_editdiv '">

                                                                        {{innervalue}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        <!-- We need to be able to add and remove elements at all times-->
                                                        <!-- we may be doing data entry or querying multiple values -->
                                                        <div class="af_arraybuttons ">

                                                            <span class="float-right fs-4 fw-bold "
                                                                v-on:click="addArrayElement(name)"
                                                                v-if="!value || arrayidx==value?.length-1">&oplus;</span>
                                                            <span v-on:click="deleteArrayElement(name,arrayidx)"
                                                                class="float-right fs-4 fw-bold">&otimes;</span>

                                                        </div>


                                                    </div>
                                                </template>
                                                <!-- Scalar in an Top level Array-->
                                                <template v-else>
                                                    <!-- Date-->
                                                    <input v-if="valtype == 'Date'" :data-bsontype="valtype"
                                                        v-on:input="formValueChange" :id=`${name}.${arrayidx}`
                                                        class="form-control af_forminput af_inlist"
                                                        :disabled="editing == false" type="datetime-local"
                                                        :value="toDateTime(arrayElement)">

                                                    <!-- Picklist-->
                                                    <template v-else-if="selectedDocType?.picklists?.[name]">
                                                        <!-- Has a picklist-->

                                                        <input :disabled="editing == false"
                                                            class="form-control af_forminput af_inlist"
                                                            :data-bsontype="valtype"
                                                            :value="(nv=fieldEdits[`${name}.${arrayidx}`])!=undefined?nv:arrayElement"
                                                            type="text" :list=`${name}_picklist`
                                                            :id=`${name}.${arrayidx}` v-on:input="formValueChange" />
                                                        <datalist :id=`${name}_picklist`>
                                                            <option
                                                                v-for="option in selectedDocType?.picklists?.[name]">
                                                                {{option}}</option>
                                                        </datalist>
                                        </div>
                            </template>
                            <!-- Text/Number -->
                            <div v-else v-on:input="formValueChange" :id=`${name}.${arrayidx}`
                                :contenteditable="editing?true:null" :data-bsontype="valtype"
                                class="form-control af_forminput af_editdiv af_inlist">
                                {{arrayElement}} </div>

                            <!-- We need to be able to add and remove elements at all times-->
                            <!-- we may be doing data entry or querying multiple values -->
                            <div class="af_arraybuttons">

                                <span class="float-right fs-4 fw-bold " v-on:click="addArrayElement(name)"
                                    v-if="!value || arrayidx==value?.length -1">&oplus;</span>
                                <span v-on:click="deleteArrayElement(name,arrayidx)"
                                    class="float-right fs-4 fw-bold">&otimes;</span>

                            </div>
                            </template>
                            </template>
                        </div>
                </div>
            </div>
            </template>

            <!-- Simple Top Level Fields, Render According to type (Date, Typeable) and if they have a picklist-->
            <template v-else>

                <div class="d-flex flex-column align-items-start align-top">

                    <label class="af_fieldlabel" :for="name">{{formatFieldname(name)}} <span class="ml-2"
                            @click="followLink(name)" v-if="!editing && getLink(name)">🔗</span> </label>

                    <!-- Date-->
                    <input v-if="valtype == 'date'" :data-bsontype="valtype" v-on:input="formValueChange"
                        class="form-control af_forminput" :disabled="editing == false" type="datetime-local"
                        :value="toDateTime(value)" :id="name">
                    <!-- Picklist-->
                    <div v-else-if="selectedDocType?.picklists?.[name]">
                        <!-- Has a picklist-->
                        <input :disabled="editing == false" :id="name" class="form-control af_forminput"
                            :data-bsontype="valtype" :value="(nv=fieldEdits[name])!=undefined?nv:value" type="text"
                            :list=`${name}_picklist` v-on:input="formValueChange" />
                        <datalist :id=`${name}_picklist`>
                            <option v-for="option in selectedDocType?.picklists?.[name]">{{option}}
                            </option>
                        </datalist>
                    </div>
                    <!-- Text/Number -->

                    <div v-else v-on:input="formValueChange" :id="name" :data-bsontype="valtype"
                        :contenteditable="editing ? true : null"
                        :class="' form-control ' +  classFromType(valtype) + ' af_forminput af_editdiv '">
                        {{value}} </div>
                </div>

            </template>
        </div>
        </form>
    </div>


    </div>



    <div v-show="show_modal" id="myOldModal" class="af_modal">
        <!-- Modal content -->
        <div class="af_modal-content border text-danger ">
            <span v-on:click="show_modal=false" class="af_closebutton">&times;</span>
            <p> {{modal_content}} </p>
        </div>

    </div>


    </div>
    </div>


</body>

</html>

</html>