/* Just controls layout of large elements on page list header, listview, form view */

.formsappouterlayout {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 2em;
}

.doctypeselect {
  width: 10em;
  border: none;
}

.header {
  flex: 0 1 auto;
  padding: 0.2em;
}

.listview_control {
  flex: 0 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.formview_control {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 100%;
  overflow-x: hidden;
  margin-top: 1em;
}


.right {
  float: right
}

.left {
  float: left
}

/* The Modal (background) */
.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 3em;
  width: 80vw;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  float: right;
  font-size: 2em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.smallbutton {
  float: left;
  font-size: 2em;
  font-weight: bold;
}


.headerbutton {
  padding: 0.1em 0.2em 0.1em 0.2em;
  margin: 0.5em;
  min-width: 4em;
  height: 2em;
}

.searchbar {
  margin: 0.5em;
  margin-left: 1em;
  width: 20vw;
  min-width: 5em;
  height: 2em;
}

/* Buttons on forms */

.formbutton {
  padding: 0.1em 0.2em 0.1em 0.2em;
  margin-top: 0.5em;
  min-width: 4em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*All data entry on login, password forms etc including login etc. */
.formwriteable {
  background-color: var(--lightest-color)
}

.dynamicformvalue:not([contenteditable="true"]) {
  background-color: var(--disabled-control-background)
}

.dynamicformvaluedate:disabled {
  background-color: var(--disabled-control-background)
}

button:disabled {
  background-color: var(--disabled-control-background)
}

