/* Login centered on login screen */
.formsappouterlayout {
    display: flex;
    flex-flow: column nowrap;
   
    align-items: stretch;
    width: 100%;
    border: 1px solid black;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}

.header {
    flex: 0 1 auto;
    border: 1px solid black;
    padding: 3px;
   
}


.listview_control {
    padding: 3px;
    flex: 0 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
   
}

.formview_control {
    padding: 3px;
    flex: 1 1 auto;
    overflow-y: auto;
    height: 100%;
    border: 1px solid black;
    overflow-x: hidden;
}

.right {
    float: right
}

.left {
    float: left
}
