<!DOCTYPE html>
<!-- This is a large file, can't easily break it into sub components as-->
<!-- a consequence of wanting no 'compile' stage for this application -->

<html>

<head>
    <meta charset="utf-8">
    <title> Atlas Forms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include the latest Realm Web SDK from CDN-->
    <script src="https://unpkg.com/realm-web/dist/bundle.iife.js"></script>
    <!-- Using vue.js in as lightweight way as possible-->
    <script src="https://unpkg.com/vue@3"></script>
    <!--  Style sheet  -->
    <link rel="stylesheet" href="../styles/style.css">
    <!--Layout and UI for this-->
    <link rel="stylesheet" href="formsapp_layout.css">
    <link rel="stylesheet" href="dynamicform.css">
    <!-- Installation specific parameters-->
    <script src="/appConfig.js"></script>
    <script src="./string_formating.js"></script>
    <script src="./utility_functions.js"></script>
    <script src="./listview_functions.js"></script>
    <script src="./formsapp.js"></script>
</head>

<body onLoad="formsOnLoad()">
    <div id="formsapp">
        <div class="formsappouterlayout">
            <div class="header">

                <div class="left">
                    <!-- odd binding as we do work on change to lookup details-->
                    Document Type:
                    <select v-show="!currentDocLocked" name="docType" @change="selectDocType" v-model="selectedDocType">
                        <option v-for="docType in docTypes" :value="docType">{{docType.title}}</option>
                    </select>
                    <button :disabled="currentDoc?.doc?._id != null"  v-show="!currentDocLocked" class="headerbutton" @click="runQuery()"> Search </button>
                    <button v-show="!currentDocLocked" class="headerbutton" @click="clearForm()"> Clear </button>
                    <button :disabled="currentDoc?.doc?._id == null" v-show="!currentDocLocked" class="headerbutton" @click="editRecord()"> Edit </button>
                    <button v-show="currentDocLocked" class="headerbutton" @click="commitEdit()"> Save Edits </button>
                    <button v-show="currentDocLocked" class="headerbutton" @click="commitEdit(true)"> Cancel Edits
                    </button>
                    <button :disabled="currentDoc?.doc?._id != null"  v-show="!currentDocLocked" class="headerbutton" @click="newRecord()"> Create </button>
                </div>
                <div class="right">
                    <button v-show="!currentDocLocked" class="headerbutton" @click="logOut()"> Logout </button>
                </div>
            </div>

            <div class="listview_control">
                <!-- This data *is* a table and so HTML Table is fine to use-->
                <table class="listview" id="listviewheaderrow">
                    <tr>
                        <th @click="sortListviewColumn(fieldname)" class="listview"
                            v-for="(fieldname,idx) in listViewFields">
                            <div :id="'lh_'+fieldname" :ref="watchColumnResizing" class="listviewheader"
                                :style="{width: (98/listViewFields.length) +'vw'}">{{formatFieldname(fieldname)}}</div>
                        </th>
                    </tr>
                    <tr class="listview" :class="{selected:(result == currentDoc)}" v-for="result in results">
                        <td @click="resultClick(result)" class="listview" v-for="fieldname in listViewFields">
                            <div class="listviewitem"> {{ getFieldValue(result,fieldname) }} </div>
                        </td>
                    </tr>
                </table>
            </div>


            <!-- The code below may look daunting but it's relatively simple-->
            <!-- Iterate over keys in the template and print the values from the document-->
            <!-- Special cases are basially repeats for nested docs and arrays-->
            <!-- there is no easy recursive definition option -->

            <div class="formview_control">
                <div class='form_container'>
                    <!-- For each K,V pair in document-->
                    <!-- In the line below we add class 'newline' if value is a document or array
                      sorry that the code is ugly, put it in a function if it bothers you -->
                    <div :class="'dynamicformitem' + (['document','array'].includes(getBsonType(value))?' newline':'') "
                        v-for="(valtype,name) in selectedDocTypeSchema " :set=" value = getFieldValue(currentDoc,name)">

                        <!-- Nested Object -  We are only supprting one level of nesting here -->
                        <template v-if="getBsonType(valtype) == 'document'">
                            <div class="dynamicformlabel">{{formatFieldname(name)}}:</div>
                            <div class='form_container nested'>
                                <div class="dynamicformitem" v-for="(valtype,innername) in valtype "
                                    :set="value = getFieldValue(currentDoc,`${name}.${innername}`)">
                                    <div class="dynamicformlabel">{{formatFieldname(innername)}}:</div>
                                    <!-- Is this a nested object? -->
                                    <template v-if="getBsonType(value) == 'document'">
                                        <div> {{getBsonType(value)}} </div>
                                    </template>
                                     <!-- Is this a nested array? -->
                                     <template v-else-if="getBsonType(valtype) == 'array'">
                                        <div class='dynamicformitem arrayscroller'> 
                                            <div v-for="(arrayElement,arrayidx) in value?.length>0 ? value :
                                                (typeof selectedDocTypeSchema[name][0] == 'string' ? [''] : [{__xyzzy__:1}] )"
                                           class="form_container nested">
                                           <template v-if="getBsonType(arrayElement) == 'string'">
                                                <div class="dynamicformvalue">
                                                    {{arrayElement}}
                                                </div>
                                            </template>
                                            <template v-else="getBsonType(arrayElement) == 'document'">
                                                <div class="dynamicformitem" v-for="(arrayElement,innername) in arrayElement "
                                                :set="value = getFieldValue(currentDoc,`${name}.${innername}`)">
                                                   
                                                        <div class="dynamicformlabel">{{formatFieldname(innername)}}:</div>
                                                        <div class="dynamicformvalue">
                                                            {{arrayElement}}
                                                        
                                                    </div>
                                                </div>
                                            </template>
                                           </div>
                                        </div>
                                    </template> 
                                    <template v-else>
                                        <input v-on:input="formValueChange" :id=`${name}.${innername}`
                                            v-if="valtype == 'date'" :data-bsontype="valtype"
                                            class="dynamicformvaluedate" :disabled="editing == false"
                                            type="datetime-local" :value="toDateTime(value)">
                                        <div v-on:input="formValueChange" v-else :id=`${name}.${innername}`
                                            :data-bsontype="valtype" :contenteditable="editing?true:null"
                                            class="dynamicformvalue">
                                            {{value}} </div>
                                        <br />
                                    </template>
                                </div>
                            </div>
                        </template>

                        <!-- Array -->

                        <template v-else-if="getBsonType(valtype) == 'array'">
                            <div class=" dynamicformlabel">{{formatFieldname(name)}}:
                            </div>
                            <div class="dynamicformitem arrayscroller">
                                <!-- If the Array is Empty we still need to show at least one member-->
                                <!-- to allow for searching or adding a first element -->
                                <!-- BUG? What about an array of non string types-->
                                <div v-for="(arrayElement,arrayidx) in value?.length>0 ? value :
                                         (typeof selectedDocTypeSchema[name][0] == 'string' ? [''] : [{__xyzzy__:1}] )"
                                    class='form_container arrayelement'>
                                    <!-- With an Array, for each array memeber we repeat the top level code-->
                                    <!-- Not adding code for nested arrays but will support arrays of objects-->

                                    <!-- Hide the Elelement if its been deleted in edits-->
                                    <template v-if="!(fieldEdits[`${name}.${arrayidx}`] == `$$REMOVE`)">
                                        <!-- Object in Array-->
                                        <template v-if="getBsonType(arrayElement) == 'document'">

                                            <div class="dynamicformitem"
                                                v-for="(innervaltype,innername) in selectedDocTypeSchema[name][0]"
                                                :set="innervalue = getFieldValue({doc:arrayElement},innername)">

                                                <div class="dynamicformlabel"> {{formatFieldname(innername)}}:</div>
                                                <input v-if="innervaltype == 'date'" v-on:input="formValueChange"
                                                    :id=`${name}.${arrayidx}.${innername}` :data-bsontype="innervaltype"
                                                    class="dynamicformvaluedate" :disabled="editing == false"
                                                    type="datetime-local" :value="toDateTime(innervalue)">
                                                <div v-else v-on:input="formValueChange"
                                                    :id=`${name}.${arrayidx}.${innername}` :data-bsontype="innervaltype"
                                                    :contenteditable="editing?true:null" class="dynamicformvalue">
                                                    {{innervalue}}
                                                </div>
                                        </template>
                                        <!-- Scalar in an Array-->
                                        <template v-else> 
                                            <input v-on:input="formValueChange" :id=`${name}.${arrayidx}`
                                                v-if="valtype == 'Date'" :data-bsontype="valtype"
                                                class="dynamicformvaluedate" :disabled="editing == false"
                                                type="datetime-local" :value="toDateTime(arrayElement)">
                                            <div v-on:input="formValueChange" :id=`${name}.${arrayidx}` v-else
                                                :contenteditable="editing?true:null" :data-bsontype="valtype"
                                                class="dynamicformvalue">
                                                {{arrayElement}} </div>
                                        </template>
                                        <!-- We need to be able to add and remove elements at all times-->
                                        <!-- we may be doing data entry or querying multiple values -->
                                        <div>
                                            <span class="smallbutton" v-on:click="addArrayElement(name)"
                                                v-if="!value || arrayidx==value?.length -1">&oplus;</span>
                                            <span v-on:click="deleteArrayElement(name,arrayidx)"
                                                class="smallbutton">&otimes;</span>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </template>

                        <!-- Scalar value, formatting and control based on type -->
                        <template v-else>
                            <div class="dynamicformlabel">{{formatFieldname(name)}}:</div>
                            <input :data-bsontype="valtype" v-if="valtype == 'date'" v-on:input="formValueChange"
                                class="dynamicformvaluedate" :disabled="editing == false" type="datetime-local"
                                :value="toDateTime(value)" :id="name">

                            <div v-else v-on:input="formValueChange" :id="name" :data-bsontype="valtype"
                                :contenteditable="editing ? true : null" class="dynamicformvalue">{{value}} </div>
                            <br />
                        </template>
                    </div>
                </div>
            </div>

        </div>
        <div v-show="show_modal" id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span v-on:click="show_modal=false" class="close">&times;</span>
                <p> {{modal_content}} </p>
            </div>

        </div>
    </div>

</body>

</html>

</html>
