
/* CSS Styling for the results list */

div.listview {
    max-height: 25vh;
    border-collapse: collapse;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid var(--light-brand-color);
}

table.listview {
    border-collapse: collapse;
    border-spacing: 0;
    height: 15em;
    display: flex;
    table-layout: fixed;
    border-radius: 0;
}

th.listview {
    background-color: var(--bright-brand-color);
    color: var(--bright-brand-contrast);
    border-radius: 0;
    width: 0.1%;
    border: 1px solid var(--light-brand-color)
}

tr.listview {
    border-radius: 0;
    background-color: var(--disabled-control-background);
    border: 1px solid lightgrey;
}

tr.selected {
    background-color: lightgrey;
}

td.listview {
    border-radius: 0;
}

th.listview {
    padding: 0;
    margin: 0px;
    overflow: auto;
}

div.listviewheader {
    margin: 0px 0px 0px 0px;
    resize: horizontal;
    overflow: auto;
    word-break: break-all;
    word-wrap: break-word;
    text-transform: capitalize;
    font-weight: 300;
}

div.listviewitem {
    overflow: clip;
    word-break: break-all;
    word-wrap: break-word;
    height: 20px;
}

.highlightitem {
    border: 2px solid var(--darkest-color) !important;
  }