<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title> Atlas Forms - Reset password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include the latest Realm Web SDK from CDN-->
    <script src="https://unpkg.com/realm-web/dist/bundle.iife.js"></script>
    <!-- Using vue.js in as lightweight way as possible-->
    <script src="https://unpkg.com/vue@3"></script>
    <!--  Style sheet  -->
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="./resetpassword_layout.css">
    <!-- Installation specific parameters-->
    <script src="/appConfig.js"></script>
    <!-- code for our login page -->
    <script src="./resetpassword.js"></script>
</head>

<body onLoad="resetPasswordOnLoad()">
    <div class="resetpassword" id="resetpasswordapp">
        <div class="resetpasswordlayout">

            <label v-if="token==null" for="email" class="formlabel userlab">Email</label>
            <input  v-if="token==null"  type="text" class="formwriteable usertxt" placeholder="Enter email" v-model="email"
                name="email" required><br />
                
        

            <label  v-if="token!=null"  for="password" class="formlabel passlab">New Password</label>
            <input  v-if="token!=null"  type="password" class="formwriteable passtxt" placeholder="Enter Password" v-model="password"
                name="password" required><br />

            <label  v-if="token!=null"  for="password2" class="formlabel pass2lab">Password Again</label>
            <input  v-if="token!=null"  type="password" class="formwriteable pass2txt" placeholder="Enter Password again" v-model="password2"
                name="password2" required><br />


                <button v-if="token==null" class="resetpassword formbutton" @click="requestReset(email)"> Request Reset </button>
                <button v-if="token!=null" class="resetpassword formbutton" @click="resetPassword(password,password2,token,tokenId)"> Reset Password </button>
               
                <button class="cancel formbutton" @click="cancel()"> Cancel </button>
    

            <div class="message">
                {{message}}
            </div>
        </div>
    </div>
</body>

</html>

</html>