<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Atlas Forms - Reset Password</title>
    <!-- Include the latest Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Include the latest Realm Web SDK from CDN-->
    <script src="https://unpkg.com/realm-web/dist/bundle.iife.js"></script>
    <!-- Using vue.js in as lightweight way as possible-->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Installation specific parameters-->
    <script src="/appConfig.js"></script>
    <!-- code for our login page -->
    <script src="./resetpassword.js"></script>
</head>

<body onLoad="resetPasswordOnLoad()">
    <div id="resetpasswordapp">
        <div class="resetpasswordlayout">
            <form class="form-horizontal h-50 w-50 m-auto border" title="Reset Password Form">
                <div class="form-group m-2">
                    <label v-if="token==null" for="email" class="control-label col-sm-2 h4">Email:</label>
                    <div class="col-sm-10" title="Email Entry">
                        <input v-if="token==null" type="text" class="form-control" id="email"
                            placeholder="Enter email.." v-model="email" tabindex="0" required>
                    </div>
                </div>
                <div class="form-group m-2">
                    <label v-if="token==null" for="password" class="control-label col-sm-6 h4">New Password:</label>
                    <div class="col-sm-10" title="New Password Entry">
                        <input v-if="token==null" type="password" class="form-control" id="password"
                            placeholder="Enter Password.." v-model="password" required>
                    </div>
                </div>
                <div class="form-group m-2">
                    <label v-if="token==null" for="password2" class="control-label col-sm-6 h4">Password Again:</label>
                    <div class="col-sm-10" title="New Password Entry">
                        <input v-if="token==null" type="password" class="form-control" id="password2"
                            placeholder="Enter Password Again.." v-model="password2" required>
                    </div>
                </div>
                <div class="form-group">
                    <input v-if="token==null" type="button" class="btn btn-primary m-2" @click="requestReset(email)"
                        value="Request Reset" />
                    <input v-if="token==null" type="button" class="btn btn-primary m-2"
                        @click="resetPassword(password,password2,token,tokenId)" value="Request Reset" />
                    <input type="button" class="btn btn-close m-2" @click="cancel()" />
                </div>
            </form>
            <div class="text-center text-danger h5">
                {{message}}
            </div>
        </div>
    </div>
</body>

</html>