
/* Login centered on login screen */
.resetpasswordlayout {
    width: 40%;
    min-width: 400px;  
    padding: 10px;
    /*border: 1px solid black;*/
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas:
        "userlab usertxt"
        "passlab passtxt"
        "pass2lab pass2txt"
        "resetpassword cancel"
        "newusermsg newusermsg";
}

.userlab { grid-area: userlab}
.usertxt { grid-area: usertxt}
.passlab { grid-area: passlab}
.passtxt { grid-area: passtxt}
.pass2lab { grid-area: pass2lab}
.pass2txt { grid-area: pass2txt}

.message { grid-area: newusermsg;
            color: red;
            padding: 20px;
            text-align: center;
        }

.resetpassword { grid-area: resetpassword}
.cancel { grid-area: cancel}