<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include the latest Realm Web SDK from CDN-->
    <script src="https://unpkg.com/realm-web/dist/bundle.iife.js"></script>
    <!-- Using vue.js in as lightweight way as possible-->
    <script src="https://unpkg.com/vue@3"></script>
    <!--  Style sheet  -->
    <link rel="stylesheet" href="/styles/style.css">
    <!-- Installation specific parameters-->
    <script src="/appConfig.js"></script>
    <!-- class wrapping up auth functions -->
    <script src="./authentication.js"></script>
    <!-- code for our login page -->
    <script src="./login.js"></script>
</head>

<body onLoad="loginOnLoad()">
    <div class="login" id="loginapp">
        <div class="loginbox">

            <label for="username" class="formlabel userlab">Username</label>
            <input type="text" class="formwriteable usertxt" placeholder="Enter Username" v-model="username"
                name="username" required><br />

            <label for="password" class="formlabel passlab">Password</label>
            <input type="password" class="formwriteable passtxt" placeholder="Enter Password" v-model="password"
                name="password" required><br />

            <div class="loginbut">
                <button class="formbutton" :disabled='username.length==0 || password.length==0' @click="passwordLogin(username,password)">Login</button>
            </div>

            <div class="loginmsg">
                {{message}}
            </div>
            <div class="loginoptions"> 
                <div class="loginbut">
                    <button class="newuser formbutton"> New User </button>
                    <button class="resetpass formbutton"> Reset Password </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

</html>