
/* Login centered on login screen */
.loginlayout {
    width: 40%;
    min-width: 400px;  
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas:
        "userlab usertxt"
        "passlab passtxt"
        "loginbut loginbut"
        "newuser resetpass"
        "loginmsg loginmsg";
}

.userlab { grid-area: userlab}
.usertxt { grid-area: usertxt}
.passlab { grid-area: passlab}
.passtxt { grid-area: passtxt}
.loginbut { grid-area: loginbut}
.loginmsg { grid-area: loginmsg;
            color: red;
            padding: 20px;
            text-align: center;
        }
.newuser { grid-area: newuser}
.resetpass { grid-area: resetpass}